<h1>US Time Zone Display</h1>

<button
  (click)="showTime = true; getTime(0)"
  [ngClass]="{selected: timezone === 'PST'}">PST</button> 

<button
  (click)="showTime = true; getTime(1)"
  [ngClass]="{selected: timezone === 'MST'}">MST</button> 

<button
  (click)="showTime = true; getTime(2)"
  [ngClass]="{selected: timezone==='CST'}">CST</button> 

<button
  (click)="showTime = true; getTime(3)"
  [ngClass]="{selected: timezone==='EST'}">EST</button> 

<button (click)="showTime = false; timezone = null">Clear</button>

<h1 *ngIf="showTime">{{ today | date:'medium' }}</h1>